*{
  margin: 0%;
  padding: 0%;
  box-sizing: border-box;}
a{
  text-decoration: none;
  color: aliceblue;
}
body{
  background: linear-gradient(0.25turn, #1c1a92, #4a67b8);
  color: aliceblue;
  font-family: "Poppins", Arial, sans-serif;
}

.contanir{
  max-width: 1160px;
  width: 100%;
  margin: 0 auto;
  padding: 0 20px;
}
.nav{
  display: flex;
  justify-content: space-between;
}
.nav_name ,.nav_text{
  font-size: 20px;
  letter-spacing: 1.5px;
  margin: 0px 0px 20px;
  line-height: 25px;
}
.nav_lift{
  display: flex;
  gap: 50px;
}
.head{
  display: flex;
  justify-content: space-between;
  margin: 30px 0px;
}
.my_img{
  max-width: 200px;
  width: 100%;
}
.left_head{
  align-items: center;
}
h1{
  margin-bottom: 20px;
}
.resume{
  padding: 9px 6px;
  border-radius: 10px;
  
}
img{
  max-width: 35px;
}