*{
  margin: 0%;
  padding: 0%;
  box-sizing: border-box;}
a{
  text-decoration: none;
  color: aliceblue;
}
body{
  background: linear-gradient(0.25turn, #1c1a92, #4a67b8);
  color: aliceblue;
  font-family: "Poppins", Arial, sans-serif;
}

.contanir{
  max-width: 1460px;
  width: 100%;
  margin: 0 auto;
  padding: 0 20px;
}
.nav{
  display: flex;
  justify-content: space-between;
  margin: 20px 0px 50px;
}
.nav_name ,.nav_text{
  font-size: 20px;
  letter-spacing: 1.5px;
  margin: 0px 0px 20px;
  line-height: 25px;
}
.kamal{
  font-size: 40px;
  align-items: center;
  display: flex;
  gap: 20px;
}

.logo{
 max-width: 65px;
}
.nav_lift{
  display: flex;
  gap: 50px;
}